/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  h1 {
    font-size: 2.8rem;
  }

  .hero-description {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .hero-name {
    font-size: 1.6rem;
  }

  .hero-img {
    height: 8rem;
  }

  .underline {
    width: 32rem;
  }

  .hero-img {
    height: 8rem;
  }

  .heading-secondary {
    font-size: 2.5rem;
  }

  .section-hero {
    margin-bottom: 20rem;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .project-img {
    height: 17rem;
  }

  .projects-code-title {
    font-size: 1.6rem;
  }

  .projects-code-img {
    height: 4rem;
  }

  .projects-code-name {
    font-size: 1.1rem;
  }

  /* .btn,
  .btn:link,
  .btn:visited,
  .btn:hover,
  .btn:active {
    font-size: 1.4rem;
  } */

  .hero-container {
    margin-top: 5rem;
  }

  .footer-author {
    display: none;
  }

  .footer-bar {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .accordion {
    grid-template-columns: 1fr;
    column-gap: 0;
    padding: 0rem 1rem 0rem 1rem;
  }

  .accordion-header {
    /* padding: 2rem 3rem 2rem 3rem; */
    padding: 2rem 1rem 2rem 1rem;
    justify-content: space-evenly;
  }

  .accordion-content {
    padding: 8rem 3rem 5rem 3rem;
  }

  .accordion-content p {
    font-size: 1.4rem;
    line-height: 3rem;
  }

  .accordion-content--expanded {
    /* max-width: 37rem; */
  }

  .container {
    padding: 0rem 1rem 0rem 1rem;
  }

  .about-container {
    grid-template-columns: 1fr;
    margin-top: -5rem;
    /* padding: 0rem 1rem 0rem 1rem; */
  }

  .services-title {
    font-size: 1.6rem;
  }

  .services-list-icon {
    height: 3rem;
  }

  .services-list-item {
    font-size: 1.2rem;
  }

  .img-1 {
    height: 7rem;
  }

  .img-2 {
    height: 8rem;
  }

  .img-3 {
    height: 10rem;
  }

  .img-4 {
    height: 8rem;
  }

  .about-text {
    font-size: 1.6rem;
  }
  .about-text b {
    margin: 0 auto;
  }

  .about-img {
    display: none;
  }

  .about-img img {
    display: none;
  }

  .about-icons-img {
    height: 5rem;
  }

  .about-icons-name {
    font-size: 1.4rem;
  }

  .contact-form {
    display: block;
  }

  input,
  select {
    width: 30rem;
  }
}
