* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  /* color: #cfcfcf; */
  /* background-color: #04040f; */
  background-color: #f1f1f1;
  color: #444;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

.heading-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  margin-bottom: 5rem;
  margin-top: 10rem;
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.2;
  /* margin-bottom: 3.2rem; */
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  background-color: #4115d4;
  color: #ffffff00;
  height: 0.2rem;
  width: 65rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.5rem;
  /* margin-top: 2rem; */
  background-color: #4115d4;
  border-radius: 0.9rem;
  color: #ffffff;
}

.btn:hover,
.btn:active {
  background-color: #3411aa;
  /* background-color: #6744dd; */
  color: #f7f7f7;
}

/***** HERO *****/
.section-hero {
  margin-bottom: 15rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.hero-img {
  height: 10rem;
}

.hero-img-border {
  border: 1px solid #1a1a1a;
  border-radius: 100rem;
  margin-bottom: 2rem;
}

.hero-name {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.hero-title {
}

.hero-subtitle {
  margin-bottom: 2rem;
}

#hero-subtitle {
}

.hero-description {
  font-size: 1.6rem;
  line-height: 1.8rem;
  width: 70rem;
  margin-bottom: 2.5rem;
}

.hero-description p {
  text-align: center;
  /* font-size: 1.4rem; */
}
.hero-btn {
  display: flex;
  gap: 5rem;
}

/***** ABOUT *****/
.section-about {
  margin-bottom: 20rem;
}
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  margin-bottom: 7rem;
}

.about-text {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 5rem;
}

.about-text b {
  font-size: 2.4rem;
}

.about-img img {
  height: 40rem;
}

.about-icons-container {
  /* width: 25rem auto; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 3rem; */
}

.about-icons-box {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-self: space-between;
  flex-direction: column;
}

.about-icons-img {
  height: 7rem;
  margin-bottom: 1.5rem;
}

.about-icons-name {
  text-align: center;
  font-size: 1.6rem;
}
/***** SERVICES *****/
.section-services {
  margin-bottom: 20rem;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 5rem;
}

/* .services-header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  padding: 2rem;
  height: 15rem;
} */

.services-box {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  padding: 2rem;
  height: 15rem;
}

.services-title {
  font-size: 2rem;
}

.img-1 {
  height: 9rem;
}
.img-2 {
  height: 10rem;
}
.img-3 {
  height: 12rem;
}

.img-4 {
  height: 10rem;
}

.arrow-down {
  width: 3rem;
}

.services-description-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1.5rem;
  gap: 1.5rem;
  width: 75rem;
}

.services-list-item {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 2;
}

.services-list-icon {
  width: 4rem;
  height: 4rem;
}

/* ACCORDION */
.accordion {
  /* max-width: 30rem;
  width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 5rem;
}

.accordion-header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  padding: 2rem;
  height: 15rem;
  cursor: pointer;
}

.accordion-header:hover {
}

.accordion-button {
  border: none;
  background: none;
  /* font-size: 0.5rem; */
  color: #666;
  cursor: pointer;
}

.accordion-content {
  /* max-height: 0;
  overflow: scroll;
  padding: 2rem 3rem 2rem 5rem;
  background-color: #fff;
  font-size: 1.8rem;
  line-height: 3rem;
  display: none;
  width: 80rem;
  transition: max-height 1s ease-out; */
  max-height: 0;
  background-color: #fff;
  padding: 8rem 3rem 5rem 3rem;
  /* height: 50rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  transition: max-height 1s ease-out;
}

.accordion-content--expanded {
  max-height: 100vh;
  max-width: 54.3rem;
  display: inline-block;
  position: relative;
  border-radius: 2rem;
  margin-top: -3rem;
  z-index: -1;
  transition: max-height 1s ease-in;
}

.accordion-item[aria-expanded="true"] .accordion-content {
  max-height: 100vh;
  transition: max-height 0.9s ease-in;
}

.accordion-content--expanded ul {
  margin-top: 2.5rem;
}

.accordion-content p {
  font-size: 1.6rem;
  line-height: 3rem;
}

.accordion-button {
  font-size: 3rem;
}

.accordion .acccordion-item.active .accordion-header i {
  transform: rotate(180deg);
  transition: transform 0.2s 1.2s;
}

/***** PROJECTS-SECTION *****/
.section-projects {
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.projects-grids {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.projects-grids:hover {
}

.project-img {
  transition: all 0.3s ease-in-out;
  height: 25rem;
}

.project-img:hover {
  transform: scale(1.05);
}

.projects-code-title {
  font-size: 2rem;
}

.projects-code-container {
  width: 25rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.projects-code-logo {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-self: space-between;
  flex-direction: column;
}

.projects-code-img {
  height: 5rem;
  margin-bottom: 1rem;
}

.projects-code-name {
  text-align: center;
  font-size: 1.4rem;
}

/***** CONTACT-PAGE *****/
.section-contact {
  margin-bottom: 10rem;
}

.contact-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 65rem;
  /* height: 60rem; */
  /* background-color: #ececec; */
  background-color: #444444;
  /* box-shadow: 1px 0px 16px 6px rgba(33, 33, 33, 0.63); */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  border-radius: 1rem;
  margin: 0 auto;
  padding: 5rem;
}

.contact-form {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.entry {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 2.2rem;
  color: #f7f7f7;
  text-transform: initial;
  font-weight: 500;
  margin: 0 2.5rem 0 2.5rem;
}

input,
select {
  height: 5rem;
  border-radius: 0.9rem;
  margin: 0 2.5rem 5rem 2.5rem;
  font-size: 1.8rem;
  padding: 1.2rem;
}

.comment {
  border-radius: 0.9rem;
  margin: 0 2.5rem 0 2.5rem;
  font-size: 1.6rem;
  padding: 1.2rem;
  /* width: 28.7rem; */
  height: 15rem;
  margin-bottom: 5rem;
}

.btn-contact {
  width: 28.7rem;
  margin: 0 auto;
}

.center {
  grid-column: -3 / -1;
}

.submit {
  grid-column: -3 / -1;
}

/***** FOOTER *****/
.footer-bar {
  height: 5rem;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem 0 10rem;
  position: relative;
  width: ;
}

.footer-copyright {
  color: #f7f7f7;
  font-size: 1.4rem;
}

.footer-author {
  color: #f7f7f7;
  font-size: 1.4rem;
}

.footer-author-name {
  color: #f7f7f7;
  font-size: 1.4rem;
  text-decoration: none;
}
